@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/*end reset*/

body {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(51, 51, 51, 0.8);
}


/*global*/

.flex {
    display: flex;
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.text-right {
    text-align: right;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-15 {
    padding-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #2CA5EE;
    border-radius: 4px;
    box-shadow: 3px 1px 9px 1px rgba(0, 0, 0, 0.25);
    border: none;
    color: #fff;
    transition: all .2s;
    cursor: pointer;

}

.btn:hover {
    background-color: #2c9ce6;
    box-shadow: 3px 1px 12px 3px rgba(0, 0, 0, 0.25);
}

#root {
  height: 100%;
  background-image: linear-gradient(to right top, #b3b3b3, #bdbdbd, #eae7e7, #e6e6e6, #f7f7f7, #ffffff, #ffffff);
  background-image: url('components/UI/photos/img.jpg')
}

main.container {
  height: calc(100vh - 150px);
  width: 100%;
  
}

.clickable {
  cursor: pointer;
}

.box {
    padding: 30px;
    box-shadow: 4px 4px 10px 0px rgba(0,0,0, 0.1);
    background-color: #fff;
    border: 1px solid #f2f2f2;
}
.box.w-600 {
    max-width: 600px;
    margin: 0 auto;
}
.table {
    width: 100%;
    border: 1px solid #F4F5F6;
    font-size: 14px;
}

.table th {
    background-color: #B9B9B9;
    border-right: 1px solid #fff;
    text-align: center;
    color: #fff;
    padding: 8px 10px;
    font-weight: bold;
}

.table td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;

}

.table td:first-child {
    cursor: pointer;
}

.table td:not(:last-child) {
    border-right: 1px solid #EBEDEE;
}
table td:last-child, table td:nth-last-child(2) {
    padding: 0;
}
.table tbody tr:nth-child(odd) {
    background-color: #F5F5F5;
}

.btn-icon {
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #909090;
    cursor: pointer;
    transition: all .2s;
}

.btn-icon.delete:hover {
    color: #9f0000;
}
.btn-icon.edit:hover {
    color: #2CA5EE;
}

.search-input {
    position: relative;
    width: 300px;
}
.search-input input {
    border: none;
    border-bottom: 1px solid #EBEDEE;
    padding: 10px 30px 10px 0;
    text-transform: uppercase;
    width: 100%;
}
.search-input i {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}
.navbar  {
    padding: 10px 30px;
    background-color: #253344;
    box-shadow: 1px 3px 10px 4px rgba(0,0,0,0.15);
    margin-bottom: 40px;
}
.navbar .logo img {
    width: 220px;
}
.navbar .logo:hover img {
    opacity: .8;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    transition: all .2s;
}

.nav-link:hover {
    color: #cccccc;
}

.avatar {
    color: #fff;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.avatar img {
    margin-right: 5px;
}

.pagination {
    text-align: center;
    padding-top: 15px;
}

.pagination ul {
    display: inline-flex;
}

.pagination ul li {
    padding: 5px;
}
.pagination ul li a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    display: block;
    cursor: pointer;
    font-weight: bold;
}

.pagination ul li.active a {
    color: #fff;
    background-color: #2CA5EE;
    transition: all .2s;
    border-radius: 3px;
}
.pagination ul li.active:hover a {
    background-color: #2c9ce6;
}

.form h2{
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer {
    height: 50px;
    background-color: #253344;
    box-shadow: 1px -2px 10px 4px rgba(0,0,0,0.15);
    color: rgba(255, 255, 255, 0.7);
}
.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    
}
.footer a {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 10px;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
}


